@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #001f2f;
    color: white;
font-family: "Lora";
margin: 0px;
main{
    margin-left: 20px;
    margin-right: 20px;
}
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #ffbbdf;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover{
    background-color: #e0e0e0;
}
.navbar li{
  float: left;
}
.text-center {
text-align: center;
}

#Home {
border: 4px solid #ffbbdf;
background:#ffbbdf;
width: 90px;
margin:0 auto;
border-radius: 25%;
padding: 4px
}

#Contact {
    border: 4px solid #ffbbdf;
background:#ffbbdf;
width: 120px;
margin:0 auto;
border-radius: 25%;
padding: 4px
}

#Aboutme{
    border: 4px solid #ffbbdf;
background:#ffbbdf;
width: 90px;
margin:0 auto;
border-radius: 25%;
padding: 4px
}

div.fireurn{
    width: 185px;
    text-align: center;
    align-items: flex-start;
    position: fixed;
    left: -1000;
    top: 0;
}
div.fire{
    padding: 1px;
    display: flex;
    flex-direction: column;
    flex-direction: row;
float:left
}
